*{
    background-color: rgb(253, 251, 251);
    font-family: 'Times New Roman', Times, serif;
}
#cabecalho{
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    color: #022c16;
}
#titulo{

}
nav{
    position: absolute;
    top: 60px;
}
img{
    display: inline-block;
    max-width: 300px;
    left: 24px;
    top: 120px;
}
#minha_foto{
    margin: 0 auto;
    position: flex;
    padding: auto;
    border-radius: 20px;
}
#licoes_aprendidas{
    letter-spacing: 1px;
    height: auto;
    line-height: auto;

}
#licoes_a_aprender{
    letter-spacing: 1px;
    height: auto;
    line-height: auto;
}
#eu{
    font-size: 30px;
}
